//out: index.css, compress: true, autoprefixer: true

body{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.topborder{
  background: rgba(37, 161, 194, 0.55);
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.leftborder{
  background: yellow;
  border: .5px solid black;
  width: 50%;
  height: 40px;
}

.rightborder{
  background: yellow;
  width: 50%;
  border: .5px solid black;
  height: 40px;
}
.botonmbar{
  background: rgba(4, 138, 181, 0.82);
  width: 100%;
  height: 65px;
}

.botton{}
.bottona{} .bottonb{}

.map{
  background: rgba(34, 168, 226, 0.65);
  width: 100%;
  height: 250px;
}

.section{
  background: rgba(16, 42, 222, 0.57);
  width: 100%;
  height: 250px;
}

.box{}
.boxa{} .boxb{}
