//out: index.css, compress: true, autoprefixer: true

body{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*---------------------- Barra superior ----------------------*/
.topborder{
  background: rgba(37, 161, 194, 0.1);
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  border: .5px transparent;
  flex-direction: row;
}

/*-------------- Botonera izquierda --------------*/
.leftborder{
  background: rgba(5, 70, 238, 0.2);
  border: .5px transparent;
  width: 50%;
  height: 40px;
}
/*----------- Fin botonera izquierda -----------*/

/*-------------- Botonera derecha --------------*/
.rightborder{
  background: rgba(5, 70, 238, 0.2);
  width: 50%;
  border: .5px transparent;
  height: 40px;
}
/*----------- Fin botonera derecha -----------*/
/*---------------------- Fin barra superior ----------------------*/

/*--------------- Barra de botones de la aplicación --------------*/
.botonmbar{
  background: rgba(34, 168, 226, 0.5);
  width: 100%;
  height: 65px;
  border: .5px transparent;
}

.botton{}
.bottona{}
.bottonb{}
/*--------- Fin de la barra de botones de la aplicación ---------*/

/*----------------------------- Mapa ----------------------------*/
.map{
  background:
    url("/img/canaryislands-maps.png")
    no-repeat center center, rgba(16, 42, 222, 0.1);
  background-size: 50%;
  width: 100%;
  height: 450px;
  border: .5px rgba(7, 181, 237, 0.2);
}
/*--------------------------- Fin Mapa --------------------------*/


/*------------ Cajas de información para el usuario -------------*/
.section{
  background: rgba(16, 42, 222, 0.1);
  width: 100%;
  height: 250px;
  border: .5px transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5px;
  padding-top: 11px;
}

.box{
  background: rgba(7, 181, 237, 0.2);
  width: 45%;
  height: 95%;
  border: .5px transparent;
  border-radius: 40px;
}

.boxa{
  margin-right: 2%;
}

.boxb{
  margin-left: 2%;
}
