//out: index.css, compress: true, autoprefixer: true

body{
  background: lightgrey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Segoe UI", sans-serif;
  font-size:100%;
  margin:0;
  padding:0;
  overflow-y: auto;
  overflow-x: hidden;
}

header{
  background:#333;
  color:#eee;
  width:100%;
}

/*---------------------- Barra superior ----------------------*/
.topborder{
  background: rgb(41, 63, 70);
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  border: .5px transparent;
  flex-direction: row;
}

/*-------------- Menú colapsable --------------*/
input#abrir-cerrar{
  visibility:hidden;
  position: absolute;
  top: -9999px;
}

/*-------Usuario------*/
.imgusuario{
  background: transparent
    url("https://rehxio.github.io/wheresyourcar/icons/user2.png")
    no-repeat center center;
  position: relative;
  margin: auto;
  top: 10px;
  width: 100px;
  height: 100px;
  border: 3px solid black;
  border-radius: 50%;
}

.userinfo{
  width: auto;
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userinfo > li{
  text-align: center;
  font-family: proxima,nova;
  border: 5px solid transparent;
}
/*------ Fin usuario --------*/
.usuabrir, .usucerrar{
  background: transparent
    url("https://rehxio.github.io/wheresyourcar/icons/user2w.png")
    no-repeat center center;
  background-size: 100%;
  position: relative;
  margin: auto;
  left: 10px;
  top: -7px;
  width: 20px;
  height: 20px;
  border: 3px solid white;
  border-radius: 50%;
}

label[for="abrir-cerrar"]{
  cursor:pointer;
  padding: 1rem;
  background-color:#333;
  color:#fff;
  display:inline-block;
  width:5%;
}

.cerrar {
  display:none;
}

#sidebar {
  width:0;
}

#contenido {
  margin-left:0;
}

input#abrir-cerrar:checked ~ #sidebar {
  width:150px;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"], input#abrir-cerrar:checked ~ #contenido {
  margin-left:150px;
  transition: margin-left .4s;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar {
  display:inline;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
  display:none;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(8, 120, 175, 0.6);
  overflow-x: hidden;
  transition: 0.4s;
  padding: 1rem 0;
  box-sizing:border-box;
}

.sidebar .boton-cerrar {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-size: 2rem;
  display: block;
  padding: 0;
  line-height: 1.5rem;
  margin: 0;
  height: 32px;
  width: 32px;
  text-align: center;
  vertical-align: top;
}

.sidebar ul, .sidebar li{
  margin:0;
  padding:0;
  list-style:none inside;
}

.sidebar ul {
  margin: 1rem;
  display: block;
  width: 80%;
  min-width:20px;
}

.sidebar a {
  display: block;
  font-size: 120%;
  color: #eee;
  text-decoration: none;
}

.sidebar a:hover{
  color: #fff;
  background-color: rgba(41, 63, 70, 0.7);
}

#contenido {
  transition: margin-left .4s;
  padding: 1rem;
}

.abrir-cerrar {
  color: #2E88C7;
  font-size:1rem;
}
/*-------------- Fin menú colapsable -------------*/

/*-------------- Botonera izquierda --------------*/
.leftborder{
  background: #333;
  border: .5px transparent;
  width: 50%;
  height: 40px;
}
/*----------- Fin botonera izquierda -----------*/

/*-------------- Botonera derecha --------------*/
.rightborder{
  background: #333;
  width: 50%;
  border: .5px transparent;
  height: 40px;
}

/*Colocación de lista para los enlaces*/
div.btnsocial ul {
  list-style:none;
  text-align: right;
  margin: 0;
  padding-right: 30px;
}/*Fin de la colocación de la lista para los enlaces*/

/*Espaciado y colocación botones individuales*/
.btnsocial ul li {
  display: inline-block;
  margin-left: 3px;
  margin-top: 2px;
}/*Fin espaciado y colocación botones individuales*/

/*Comportamiento y apariencia de los botones*/
.btnsocial a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  border-radius: 6px;
  width: 35px;
  height: 30px;
  text-align: center;
  transform: translate(0, 0);
  transition: all 0.2s ease;
  text-shadow: none;
  color: transparent;
}

.btnsocial a:active {
  transform: translate(0, 3px);
}/*Fin comportamiento y apariencia de los botones*/


/*-----Botón de twitter-----*/

a.twitter {
  box-shadow: 0px 6px 0px #2695bc;
}/*Sombra sin pulsar*/

a.twitter {
  background: #2ca9e1
    url("https://rehxio.github.io/wheresyourcar/icons/twit-icon.png")
    no-repeat center center;
}/*Icono twitter*/

a.twitter:active {
  box-shadow: 0px 2px 0px #2695bc;
}/*Sombra desplazamiento botón pulsado*/

/*-----Fin botón de twitter-----*/


/*-----Botón de facebook-----*/
a.facebook {
  box-shadow: 0px 6px 0px #293f63;
}/*Sombra sin pulsar*/

a.facebook {
  background: #3b5997
    url("https://rehxio.github.io/wheresyourcar/icons/face-icon.png")
    no-repeat center center;
}/*Icono facebook*/

a.facebook:active {
  box-shadow: 0px 2px 0px #293f63;
}/*Sombra desplazamiento botón pulsado*/

/*-----Fin botón de facebook-----*/
/*----------- Fin botonera derecha -----------*/
/*---------------------- Fin barra superior ----------------------*/

/*--------------- Barra de botones de la aplicación --------------*/
.botonmbar{
  background: transparent;
  width: 100%;
  height: 65px;
  border: .5px transparent;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.botton{
  background: transparent;
  width: 20%;
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.parkbutton{
  color: rgba(41, 63, 70, 0.7);
  font-family: proxima nova;
  font-weight: 100;
  font-size: 50px;
  text-align: center;
  text-decoration: inherit;
  border: 2px solid rgba(41, 63, 70, 0.7);
  border-radius: 50px;
  padding: 1px 30px;
  transition-duration: 200ms;
}

.parkbutton:hover{
  background-color: rgba(41, 63, 70, 0.7);
  color: rgba(102, 143, 205, 0.85);
}

.movedbotton{
  color: rgba(41, 63, 70, 0.7);
  font-family: proxima nova;
  font-weight: 100;
  font-size: 50px;
  text-align: center;
  text-decoration: inherit;
  border: 2px solid rgba(41, 63, 70, 0.7);
  border-radius: 50px;
  padding: 1px 30px;
  transition-duration: 200ms;
}

.movedbotton:hover{
  background-color: rgba(41, 63, 70, 0.7);
  color: rgba(102, 143, 205, 0.85);
}


.bottona{}
.bottonb{}
/*--------- Fin de la barra de botones de la aplicación ---------*/

/*----------------------------- Mapa ----------------------------*/
.map{
  background: transparent url("https://rehxio.github.io/wheresyourcar/img/canaryislands-maps.png") no-repeat center center;
  width: 100%;
  height: 410px;
  border: .5px rgba(7, 181, 237, 0.2);
}
/*--------------------------- Fin Mapa --------------------------*/


/*------------ Cajas de información para el usuario -------------*/
.section{
  background: transparent;
  width: 100%;
  height: 220px;
  border: .5px transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5px;
  padding-top: 11px;
}

.box{
  background: rgba(41, 63, 70, 0.7);
  width: 45%;
  height: 95%;
  border: .5px transparent;
  border-radius: 40px;
  box-shadow: 5px 5px 20px grey;
}

.boxa{
  margin-right: 2%;
}

.boxb{
  margin-left: 2%;
}
