<!DOCTYPE html>
<html lang="es">
   <head>
      {% block head %}
         <title>Where is yourcar</title>
         <meta charset="UTF-8">
         <link rel="stylesheet" href="http://static.whereisyourcar.me/css/index.min.css">
      {% endblock %}
   </head>
   <body>
      {% block body %}
         <div class="container">
            <p>Where is your car?</p>
         </div>
      {% endblock %}
   </body>
</html>
